<form id="formPetCreate">
まずはじめにあなたの犬を登録しましょう!<br />
なまえ: <input type='text' id="name" name="name" /><br />
犬種  : <input type='text' id="kind" name="kind" /><br />
血統書番号  : <input type='text' id="pedigree_no" name="pedigree_no" /><br />
父犬の血統書番号  : <input type='text' id="farthers_pedigree_no" name="farthers_pedigree_no" /><br />
母犬の血統書番号  : <input type='text' id="mothers_pedigree_no" name="mathers_pedigree_no" /><br />
<input type="submit" value="登録">
</form>

※本サービスをインストールして使う場合は、必ずペットを登録する必要があります。