<h1>ペット詳細</h1>

<dl>
<dt>名前</dt>
<dd>${pet.name}</dd>
<dt>犬種</dt>
<dd>${pet.kind}</dd>
<dt>血統書番号</dt>
<dd>${pet.pedigree_no}</dd>
<dt>父方血統書番号</dt>
<dd>${pet.farthers_pedigree_no}</dd>
<dt>母方血統書番号</dt>
<dd>${pet.mothers_pedigree_no}</dd>
<dl>
