<div class="header">
ロゴ<br />

こんにちは${viewer.getDisplayName()}さん!<br />

グローバルナビ<br />

<ul>
<li>ホーム</li>
<li>ペット一覧</li>
<li>ペットのつぶやき一覧</li>
<li>全犬のつぶやき一覧</li>
</ul>
</div>

<div class="main">

${main}
</div>